# Pastas do Visual Studio
.vs/
.vscode/

# Compilação
bin/
obj/
out/

# Arquivos de usuário
*.user
*.userosscache
*.suo
*.sln.docstates

# Arquivos de projeto locais
*.csproj.user
*.cache
*.log

# Build temporários
*.pdb
*.tmp
*.dbmdl

# Pacotes NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Outros
*.DS_Store
Thumbs.db
